@import './src/app/styles/_variables';

.order__button {
    width: 100px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: $primary-color;
    position: absolute;
    padding : 10px;
    border-radius: 50px;
    cursor: pointer;
    right: 200px;
    top: 15px;
  }

 i{
    padding-right: 4px;
 }
 
