@import 'src/app/styles/_variables';

.text__nav {
  text-align: left; 
  width: 150px;
  font-size: $medium-text;
}

.text__container {
  font-size: $big-text;
  text-align: center;
}

.text__menu {
  width: 100%;
  font-size: 13px;
  margin: 0 20px;
  text-align: center;
  margin-bottom: 12px;
} 

.text {
  color: $primary-color;
}

.text__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: cover;
}
