$font-family: 'Poppins', sans-serif;
$primary-color: #E7833D;
$big-text: 21px;
$medium-text: 16px;
$small-text: 14px;
$nav-color:#FDF1E9;
$placeholder-color: #828285;
$form-color: #FFFFFF;
$error-color: #E20F1F;
$alert-correct-color: #00b880;
$alert-correct-text: 34px;
$alert-correct-text-color: #141413;