
<ul class="menu">
     <a class="menu__item" routerLink="/library/technology" routerLinkActive="menu__item--active">
          <li >
               <span class="menu__text">Tecnologias</span>
               
          </li>
          
     </a>
     <a class="menu__item" routerLink="/library/capacity" routerLinkActive="menu__item--active">
          <li >
               <span class="menu__text">Capacidades</span>
          </li>
     </a>
     <a class="menu__item" routerLink="/library/bootcamp" routerLinkActive="menu__item--active" >
          <li>
               <span  class="menu__text" >Bootcamps</span>
          </li>
     </a>
     
  </ul>
