@import './src/app/styles/_variables';
@import './src/app/styles/_text';
.menu {
    width: 387px;
    margin-left: 22%;
    margin-top: 47px;
    list-style: none;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid $primary-color;
}

 .menu__items {
    display: inline-block;
    gap: 4px;
    padding-bottom: 10px;
    &:hover {
        border-bottom: 4px solid $primary-color;
        font-weight: bold;
        transition: box-shadow 0.3s ease;
        box-shadow: 0px 0px 20px 0px #E7833D66 inset;
        box-shadow: 0px 6px 12px 0px #E7833D66;
        cursor: pointer;
    }
    
}
 
  
 
  