<div class="transparency" *ngIf="!boolAlert">
    <section class="form" >

        <header   class="header-form">
            <h2 class="header-form__text" >{{title}}</h2>
            <button class="header-form__button" (click)="onCloseForm()">
                <i class="fa-solid fa-xmark" ></i>
            </button>
        </header>

        <form class="body-form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <ul class="body-form__inputs">
              
              <li *ngFor="let input of inputData">

                <label class="input__title">{{input.title}}</label>

                <input
                  class="input"
                  type="text"
                  [placeholder]="input.placeholder" autofocus
                  [formControlName]="input.controlName"
                  [ngClass]="{ 'input--error':
                   form.get(input.controlName)?.invalid 
                  && (form.get(input.controlName)?.dirty
                  ) }"
                  >
                  
                  <div class="alert"
                   *ngIf="!form.get(input.controlName)?.hasError('*')
                   && form.get(input.controlName)?.dirty">
                    <span class="error-message">{{ getErrorMessage(input.controlName) }}</span>
                  </div>

              </li>
          
            </ul>

            <app-button class="form__button" text="Crear" (click)="showAlert()"></app-button>

          </form>
  
    </section>
</div>
<app-alert *ngIf="boolAlert" (closeAlert)="onClose()"   textAlert="¡Tecnología creada!"></app-alert>