<div class="transparency">
    <section class="form"  >
        <header   class="header-form">
            <h2 class="header-form__text" >{{title}}</h2>
            <button class="header-form__button" (click)="onCloseForm()">
                <i class="fa-solid fa-xmark" ></i>
            </button>
            
        </header>
        <form class="body-form" [formGroup]="formTechnology" (ngSubmit)="onSubmit()">
            <ul class="body-form__inputs">
              <li *ngFor="let input of inputData">
                <label class="input__title">{{input.title}}</label>
                <input
                  class="input"
                  type="text"
                  [placeholder]="input.placeholder" autofocus
                  [formControlName]="input.controlName">
              </li>
            </ul>
            <app-button text="Crear" ></app-button>
          </form>
          {{ formTechnology.value | json}} 
    </section>
</div>
