<nav class="nav">
  
    <img class="nav__logo" src={{route.LOGO}}>

    <ul id="nav__items">

        <li class="nav__li" routerLink="/home" routerLinkActive="active-router">
            <app-text class="nav__text" text="Inicio" iconUrl="{{ route.HOME }}" classText="text__nav"></app-text>
          </li>

        <li class="nav__li" routerLink="/library" routerLinkActive="active-router">
            <app-text class="nav__text"  text="Biblioteca" iconUrl="{{ route.LIBRARY }}" classText="text__nav"></app-text>
        </li>

    </ul>

</nav>