.library-container-admin {
  display: flex;
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  position: fixed;
}

.library-container-admin  app-text {
  position: absolute;
  top: 40%;
  left: 40%;
  font-weight: bold;
}

.library-container-admin app-button {
  position: absolute;
  right: 100px;
  bottom: 100px;
}