<!--<app-button text="Crear" classButton="fa-solid fa-plus" ></app-button>--> 
<!--<app-template></app-template>-->
<!--<p class="text__nav">hola</p>-->
<!--<app-header></app-header>-->
<!--<app-nav></app-nav>-->
<!--<app-home></app-home>-->
<!--<app-library></app-library>-->
<router-outlet></router-outlet>
<!--<app-form></app-form>-->
<!-- <app-input title="Nombre:" textPlaceholder="Ingresa el nombre de la tecnologia"></app-input> -->
<!--<app-header-form title="Crear tecnología"></app-header-form> -->
