.main {
    display: flex;  
    flex-direction: column; 
    align-items: auto;
    justify-content: auto;
    position: relative; 
    margin-left: 20%  ;
    height: 100%;
    overflow: hidden;
    width: 80% ;
    background-color: sandybrown;
  }