
@import './src/app/styles/_variables';
.toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: rgb($error-color, 0.8 );
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    gap : 15px;
}
.toast-title {
     color: #fff;
 }

 .fa-circle-exclamation {
     color: #fff;
     font-size: 25px;
    }
 .toast-close-button {
     border: none;
       background-color: transparent;
       cursor: pointer;
       &:hover{
       transform: scale(1.1);
       transition: transform 0.2s ease-in-out;
    }
 }