
@import 'src/app/styles/_text';
@import 'src/app/styles/_order';

.technology__main{
  display: block;
  width: 100%;
}
  .technologies{
    padding: 40px 100px 20px 15px;
    margin-top: 20px;
    
  }
  .technology__item {
     list-style: none;
     padding: 17px ;
     width: 80%;
     
  }
  .technology__button {
   position: absolute;
   bottom: 90px;
   right: 40px;
  }
  
.row{
  display: flex;
  border-bottom: 2px solid $primary-color;
  justify-content: space-between;
  align-items: center;
}

button:hover {
  box-shadow: 0px 0px 20px rgba($primary-color, 0.7),
   0px 5px 5px -1px rgba($primary-color, 0.45),
    inset 4px 4px 8px rgba($primary-color, 0.7),
     inset -4px -4px 8px rgba($primary-color, 0.55);
}
