.home-container-admin {
  display: flex;  
  width: 80%;
  height: 100vh;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  margin-left: 20% ;
  position: fixed; 
  margin-top: 70px;
}

.home-container-admin app-text {
  font-weight: bold;
  margin-bottom: 10px;
}